
/*First ensure that all HTML elements have the box-sizing property set to border-box. This makes sure that the padding and border are included in the total width and height of the elements.*/
* {
    box-sizing: border-box;
}

/*The font-family property specifies the font for an element.*/
html,button,select,textarea{font-family:sans-serif}



.header {
    background-color: black;
    padding: 36px;
}

.full-width {
  background: black;
  height: 72px;
  position: absolute;
  left: 0;
  margin-top: 0px;
  width: 100%;
  z-index: 100;
}

img {
    float: left;
    margin: 0 0 1px 1px;
}

h1{font-size:1.45em;margin:0.5em 0; font-family: "Optima", Times, serif;font-weight: normal;}
h2{font-size:1.00em;margin:0.5em 0; font-family: "Arial", Times, serif; color: #207ec0; font-weight: normal;}

a:focus{outline:none}
h3{font-size:1.17em;margin:1em 0}
h4{font-size:1em;margin:0.75em 0}
h5{font-size:.83em;margin:1.67em 0}
h6{font-size:.75em;margin:2.33em 0}


small.thick.active{font-size:75%; font-weight: bold;color: #207ec0}
small.tabbed {font-size:75%; font-weight: normal; margin-left:5em}
small{font-size:75%}
small.blue{color: #126DB3; font-size:75%}
small.italic{font-size:75%; font-style: italic}
small.thick{font-size:75%; font-weight: bold}
small.thick.completed{font-size:75%; font-weight: bold; color: #126DB3}
small.new{font-size:75%; color: gray}
small.thick.tabbed {font-size:75%; font-weight: bold; margin-left:5em}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

#textinput
{
font-size:14px;  
}

button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

#search-form {background-color: #126DB3; color: #fff; cursor:pointer; -webkit-border-radius: 3px;border: 1px solid gray;float: right;margin-left: 4px; margin-right: 6px;}
#cancel {font-size:75%; background-color: white; color: black; cursor:pointer; -webkit-border-radius: 3px;border: 1px solid gray;float: right; margin-left: 2px; margin-right: 2px;}
#righttext {font-size:75%; background-color: white; color: black; cursor:pointer; float: right; margin-left: 2px; margin-right: 2px;}


a:link {
    padding: 2px 2px; text-decoration: none;
}

b:link {
    font-size: 20px; padding: 2px 2px; text-decoration: underline;
}

[class*="col-"] {
    float: left;
    padding: 15px;
}

.row:after {
    content: "";
    clear: both;
    display: block;
}


.col  {width: 100%;}


.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-1of2 {width: 25%;}
.col-2of2 {width: 75%;}

.col-1of3 {width: 25%;}
.col-2of3 {width: 15%;}
.col-3of3 {width: 60%;}

.confirmation_projects_list a {
  font-size:75%; font-weight: bold;color: #207ec0
}

.errors {
  font-size:75%; font-weight: bold;color: red
}